* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #0f0f0f;
	color: white;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
	/* flex-wrap: wrap; */
}

.search-bar {
	border: none;
	outline: none;
	width: 450px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 17px;
	border-radius: none;
}
.main-bg {
	background-color: #0f0f0f;
	padding-top: 20px;
}
.category-btn {
	font-weight: bold !important;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	cursor: pointer;
	margin-left: 15px;
	margin-bottom: 5px;
	background-color: #0f0f0f;
	color: white !important;
	padding: 7px 15px;
	border-radius: 20px !important;
	transition: all 0.3s ease;
}
.category-span {
	font-size: 15px;
	letter-spacing: 0.9px;
	margin-left: 10px !important;
}
.category-btn:hover {
	border-radius: 20px !important;
	padding: 7px 15px;
	background: rgba(187, 170, 204, 0.356) !important;
}
